body {
  font-family: 'Acrom', sans-serif;
}

.title {
  padding: 0 15px;
  font-size: 20px;
  color: #1b202a;
  font-weight: bold;
  line-height: 1.5;
}

.subtitle {
  font-size: 16px;
  color: #222;
  font-weight: bold;
  line-height: 1.313;
  padding: 0 15px;
}

.subtitle-txt {
  background-color: #edf0f2;
}
@media (min-width: 768px) {
  .title {
    font-size: 30px;
    line-height: 1.333;
  }
}
